<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="world_to_base">
    <!-- 创建一个无惯性的世界链接 -->
    <link name="world"/>
    
    <!-- 连接世界链接到base_link -->
    <joint name="world_to_base_joint" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>